@page "/CourseEnrolled/CourseEdit/{Id:int}"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@attribute [Authorize(Roles = "Admin")]

<h3>Editar Curso</h3>

@if (CourseEnrolled is null)
{
    <Loading />
}
else
{
    <CourseEnrolledForm @ref="courseEnrolledForm" CourseEnrolled="CourseEnrolled" OnValidSubmit="SaveAsync" ReturnAction="Return" />
}

@code {
    private CourseEnrolled? CourseEnrolled;
    private CourseEnrolledForm? courseEnrolledForm;


    [Parameter]
    public int Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var response = await repository.GetAsync<CourseEnrolled>($"api/CourseEnrolled/{Id}");
        if (response.Error)
        {
            if (response.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                Return();
            }

            var mensajeError = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            return;
        }
        CourseEnrolled = response.Response;

    }

    private async Task SaveAsync()
    {
        var httpResponse = await repository.PutAsync($"api/CourseEnrolled", CourseEnrolled);

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            return;
        }

        Return();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Cambios guardados con éxito");

    }

    private void Return()
    {
        courseEnrolledForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("CourseEnrolled");
    }
}
