@page "/CourseEnrolled"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
@attribute [Authorize(Roles = "Admin")]

<h3>Curso matriculado</h3>

<GenericList MyList="coursesEnrolled">
    <NoRecords>
        <p>Aún no hay tipos</p>
    </NoRecords>
    <Body>
        <a class="btn btn-primary" href="/CourseEnrolled/create">Nuevo curso</a>
        <table class="table table-striped">
            <thead>
                <tr>

                    <th>Cursos matriculados</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in coursesEnrolled!)
                {
                    <tr>
                        <td>
                            @course.Name
                        </td>

                        <td>
                            <a class="btn btn-warning btn-sm" href="/CourseEnrolled/courseEdit/@course.Id">Editar</a>
                            <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(course))>Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>

@code {
    public List<CourseEnrolled>? coursesEnrolled;

    protected async override Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        var response = await repository.GetAsync<List<CourseEnrolled>>("api/CourseEnrolled");
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        coursesEnrolled = response.Response;
    }

    private async Task DeleteAsync(CourseEnrolled courseEnrolled)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Esta seguro que quieres borrar el curso: {courseEnrolled.Name}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var response = await repository.DeleteAsync($"api/CourseEnrolled/{courseEnrolled.Id}");

        if (response.Error)
        {
            var mensajeError = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            return;

        }
        await LoadAsync();

        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.Center,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con exito ");
    }
}