@page "/selecttypeofrecord"

<h3>Selecciona el tipo de registro</h3>

<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
            <h5 class="modal-title">Seleccione el tipo de registro</h5>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <a href="/Register/" class="btn btn-primary btn-lg" data-dismiss="modal">Estudiantes</a>
                </div>
                <div class="col-md-6">
                    <a href="/RegisterPatient/" class="btn btn-warning btn-lg" data-dismiss="modal">Pacientes</a>
                </div>
            </div>
        </div>
    </div>
</div>

